<% layout('partials/userProfile') %>


    <div class="container">
        <div class="row">

            <div
                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

                <h3>Faculty Qualification and Faculty Retention</h3>
                <br>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            CAY (Current Academic Year)
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Total number of regular faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].regularCAY%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of contractual faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].contractualCAY%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of Ph.D faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].phdCAY%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of M. Tech faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].mtechCAY%>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>

                </div>


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            CAYm1 (Current Academic Year - 1)
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Total number of regular faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].regularCAYm1%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of contractual faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].contractualCAYm1%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of Ph.D faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].phdCAYm1%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of M. Tech faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].mtechCAYm1%>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>

                </div>



                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            CAYm2 (Current Academic Year - 2)
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Total number of regular faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].regularCAYm2%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of contractual faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].contractualCAYm2%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of Ph.D faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].phdCAYm2%>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Total number of M. Tech faculty </td>
                                            <td>
                                                <%=FacultyInfo[0].mtechCAYm2%>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Faculty Retention
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Total number of regular faculty retained from previous Academic
                                                Year </td>
                                            <td>
                                                <%= FacultyInfo[0].facultyRetained %>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                                <a href="/fqedit" class="btn btn-primary">Edit Info</a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>